/Releases
/Cpp/RgbFractalGenCpp/x64
/Clr/RgbFractalGenClr/x64
/Cs/RgbFractalGenCs/obj
/CsMultiGen/.vs
/Cs/RgbFractalGenCs/bin
/Cs/Components/obj
/Cs/.vs
/Cpp/x64
/Cpp/.vs
/Clr/x64
/Clr/.vs
/CsMultiGen/RgbFractalGenCs/obj
/CsMultiGen/RgbFractalGenCs/bin
/CsMultiGen/Components/obj
/Cs/Components/bin
/Cs/Components/_ReSharper.Gif
/CsMultiGen/Components/_ReSharper.Gif
/CsMultiGen/Components/bin
/Cs/.idea
